about-time==4.2.1
alive-progress==3.1.5
ansicon==1.89.0
blessed==1.20.0
certifi==2024.2.2
charset-normalizer==3.3.2
editor==1.6.6
grapheme==0.6.0
idna==3.7
inquirer==3.2.4
jinxed==1.2.1
plyer==2.1.0
psutil==5.9.8
readchar==4.1.0
requests==2.32.2
runs==1.2.2
six==1.16.0
termcolor==2.4.0
urllib3==2.2.2
wcwidth==0.2.13
xmod==1.8.1
